*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(15, 19, 32);
}

.landing-page{
    max-width: 100%;
    height: 632px;
    display: flex;
    justify-content: center;
    
}

.container{
    width: 100%;
    display: flex;


}

#firstpage{
    width: 100%;
    height: 100%;
}




.container img{
    margin-top: -30px;
    margin-left: 12%;
    width: 35%;
    height: 100%;
    transition: height 1s, width 1s ease;
    
    animation: phoneStart 1s ease-out ;
    
    
   
    animation-fill-mode: forwards;
    
}

.container h1,span{
    position: absolute;
    top:25%;
    left: 49%;
    font-size: 20px;

    animation: slideInFromRight 2s ease-out ;
    
    overflow: hidden;
   
    animation-fill-mode: forwards;


}

.container h1{
    font-size: 50px;
    color: white;
}

.container span{
    top: 60%;
    left: 55%;
    font-weight: bolder;
    

}

.container span, i{
    color: rgb(40, 97, 161);
    cursor: pointer;
}

#span1{
    margin-left: 15%;
}

.learnMore{
    position: absolute;
    
    margin: -20% 30% 10% -20%;
    font-size: 40px;
    z-index: 2;
    transition: margin 1s ease;
}

.landing-page-info{
    position: absolute;
    
    width:45%;
    left: 38%;
    height: 230px;
    top: 30%;
    z-index: -1;
    opacity: 0;
    overflow: hidden;
    
    
}

.landing-page-info.infoSlide{
    animation: slideInFromRight 1s ease-out ;
    animation-delay: 1;
    overflow: hidden;
    z-index: 1;
    animation-fill-mode: forwards;
}
.landing-page-info p{
    position: relative;
    color: white;
    font-size: 20px;
    line-height: 28px;
}

.after-learnmore-click{
    position:absolute;
    width:90%;
    background-color: transparent;
    z-index: -1;
    opacity: 0;
    overflow: hidden;
    top: 75%;
    height: 100px;
}

.after-learnmore-click.learn-more-slide{
    animation: slideInFromDown 1s ease-out ;
    animation-delay: 2;
    overflow: hidden;
    z-index: 3;
    animation-fill-mode: forwards;
}

.after-learnmore-click ul {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 3%;
    
    justify-content: space-around;
    
}
.after-learnmore-click ul li{
    
    color: white;
    list-style: none;
    font-size: 25px;
    cursor: pointer;
    
}

.after-learnmore-click.learn-more-list{
    animation: slideInFromDown 0.5s ease-out ;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}



/*yan menu */

.drpdown{
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 30px 0px 0px 30px;
    width: 8%;
    height: 50px;
    position: absolute;
    right: 0;
    top: 14%;
    display: flex;
    align-items: center;
    z-index: 5;
}

.drpdown img{
    width: 30%;
    margin-left:15px;
    background-color: #fff;
    cursor: pointer;
}

.hamburger{
    background-color: #fff;
    margin-left: 16px;
    margin-top:6px ;
    cursor: pointer;
}

#div2{
    margin-left: 7px;
}

.drpdown .hambrgr{
    width: 22px;
    
    border: 1px solid black;
    display: block;
    margin-bottom: 5px;
    
}

#div1,
#div2,
#div3{
    transition: transform 1s ease;
}

#div2.fade{
    opacity: 0;
    
    
}

#div1.cross1{
    transform: rotate(-45deg) translate(-4px, 6px);
    transition: transform 1s ease;

}

#div3.cross3{
    transform: rotate(45deg) translate(-4px, -6px);
    transition: transform 1s ease;
}



.drpmenu{
    right: 0;
    top: 21.2%;
    position: absolute;
    width: 7%;
    height: 0px;
    background-color: white;
    z-index: 5;
    transition: height 1s ease-in;
}

.drpmenu.updown{
    height: 380px;
    transition: height 1s ease-in;
}



/* ÜST BAR İKONLARI*/
.search-icon{
    background-color: #fff;
    border: 1px solid black;
    border-radius: 0px 0px 50px 50px;
    top: 0;
    left: 71%;
    width: 4%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    transition: top 1s ease;
    z-index: 5;
}



.search-icon img{
    width: 40%;
    background-color: #fff;
    z-index: 5;

}

.search-icon.drpsearch{
    z-index: 3;
    top: 63%;
    transition: top 1s ease;
    z-index: 5;
    
}

.shop-icon{
    background-color: #fff;
    border: 1px solid black;
    border-radius: 0px 0px 50px 50px;
    top: 0;
    left: 80%;
    width: 4%;
    height: 45px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 5;
}

.shop-icon img{
    width: 45%;
    background-color: #fff;
    z-index: 5;
}

/*Search bar üst slide*/

.search-bar-top{
    width: 100%;
    height: 400px;
    background-color: white;
    z-index: 5;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 1s ease;
}

.search-bar-top.bardown{
    transform: translateY(0%);
    transition: transform 1s ease;
    
}

.search-bar-top form{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;  
    margin-top: 10%; 
    background: white;
    
    
}
.search-bar-top input{
    background-color: rgb(15, 19, 32);
    outline: none;
    width: 50%;
    height: 75px;
}

input[type=text]{
    color: white;
    padding-left: 20px;
    font-size: 18px;
}



/*CAMERA SLİDE SECTİON*/

.camera-slide-up{
    position: absolute;
    width:100%;
    height: 0;
    background-color: black;
    bottom: 0;
    overflow: hidden;
    


}

.camera-slide-up.slide-up{
    
    height: 635px;
    transition: height 1s ease;
    z-index: 3;
}


/*FLASH PHONE*/


#img1,#img2,#img3,
#img4,#img5{
    position: absolute;
    top: 10%;
    left: 20%;
    width: 55%;
    
    transition: width 1s ,left 1s , top 1s ease-in;
    transition-delay: 4s;

}

#img2,#img3,
#img4,#img5{
    opacity: 0;
}


#img5.img5{
    animation: phoneFlash 1s ease 3s forwards;
   
}


#img4.img4{
    animation: phoneFlash 1s ease 2s forwards;
    
  
}

#img3.img3{
    animation: phoneFlash 1s ease 1.5s forwards;
   
}

#img2.img2{
    animation: phoneFlash 1s ease 1s forwards;
    
}

/*Camera section text*/

.camera-section-header{
    position: absolute;
    top: 15%;
    left: 45%;
    color: white;
    
    opacity: 0;
}

.camera-section-header h1{
    background-color: black;
}

.camera-section-header.cshslide{
    animation: slideInFromDown 2s ease 4.6s forwards;
}

.camera-section-info{
    position: absolute;
    top: 35%;
    left: 45%;
    color: white;
    max-width: 45%;
    opacity: 0;
    
}

.camera-section-info.csislide{
    animation: slideInFromRight 2s ease 4.6s forwards;
}

.camera-section-info p{
    padding: 5px;
    line-height: 25px;
    font-size: 19px;
    background-color: black;
}

.camera-section-links{
    position: absolute;
    top: 65%;
    left: 5%;
    color: white;
    opacity: 0;
}

.camera-section-links.cslslide{
    animation: slideInFromDown 2s ease 4.6s forwards;
}

.camera-section-links ul li{
    list-style: none;
    padding: 12px;
    background-color: black;
}

.camera-section-button{
    position: absolute;
    top: 75%;
    left: 65%;
    color: white;
    opacity: 0;
}

.camera-section-button.csbslide{
    animation: slideInFromRight 2s ease 4.6s forwards;
}

.camera-section-button button{
    color: white;
    padding: 10px;
    cursor: pointer;
    background-color: black;
}


/*BATTERY SLİDE UP*/

.battery-slide-up{
    position: absolute;
    width:100%;
    height: 0;
    
    bottom: 0;
    overflow: hidden;

}

#yatayimg{
    width: 100%;
    height: 100%;
    opacity: 0.1;
}

#yatayimg.opacityy{
    opacity: 1;
    transition: opacity 3s ease-in;
}

.battery-slide-up.bslide-up{
    
    height: 635px;
    transition: height 1s ease;
    z-index: 3;
}


/*COUNTER*/

#counter{
    position: absolute;
    top: 10%;
    left: 32%;
    color: white;
    font-size: 30px;
    background-color: transparent;
}

.battery-slide-up #batteryspan1{
    color: white;
    position: absolute;
    font-size: 28px;
    top: 10%;
    left: 35%;
    background-color: transparent;
}

#counter2{
    position: absolute;
    top: 10%;
    left: 60%;
    font-size:28px ;
    color: white;
    background-color: transparent;
}

.battery-slide-up #batteryspan2{
    color: white;
    position: absolute;
    font-size: 28px;
    top: 10%;
    left: 58%;
    background-color: transparent;

}

.battery-pil{
    position: absolute;
    width: 8%;
    height: 200px;
    top: 10%;
    left: 44%;
    border: 1x solid black;
    border-radius: 25px;
    overflow: hidden;
}
.battery-full{
    position: relative;
    width: 100%;
    height: 100%;
    
    transform: translateY(100%);
    
    background-color: rgb(8, 184, 8);
    border-radius: 25px;
}

.battery-full.dol{
    transform: translateY(0%);
    transition: transform 2.5s ease;
}

#chargeimg{
    width: 8%;
    background-color: transparent;
    position: absolute;
    top: 17%;
    left: 44%;
    

}



/*ANİMATİONS*/

@keyframes slideInFromRight {
    0% {
      transform: translateX(30%);
    }
    .1%{
        opacity: 1;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }


  @keyframes slideInFromDown {
    0% {
      transform: translateY(50%);
    }
    .1%{
        opacity: 1;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes phoneStart {
    0% {
        transform: rotateX(-50px);
      perspective:250px;
      perspective-origin: left;
    }
    
    100% {
        transform: rotateX(0px);
      perspective: 0;
      
    }
  }

  @keyframes phoneFlash {
    0% {
      opacity: 0;
    }

    
    100% {
       opacity: 1;
    }
  }
